.material-symbols-outlined {
    color: #FFF;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

body{
    color: #A6A6A6;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.9rem;
}

.text-gray-300 { 
    color: #000000;
    font-size: 16px;
}

.text-gray-500 { 
    color: #000000;
    font-size: 13px;
}

.text-gray-900 {
    font-size: 11px;
}

.mockup{
    background-image: url(../images/iphone.png);
    background-size:cover;
}

.mockup2{
    background-image: url(../images/iphone2.png);
    background-size:cover;
}


._field{
    background-repeat: no-repeat;
    background-position: botton left;
    padding-bottom: 5px;
    background-size: 8%;
}

._field__usuario{
    background-image: url(../images/usuario.svg);
}

._field__email{
    background-image: url(../images/email.svg);
}

._field__senha{
    background-image: url(../images/senha.svg);
}

._field__localizacao{
    background-image: url(../images/localizacao.svg);
}

._field__veiculo{
    background-image: url(../images/veiculo.svg);
}

._field__condicoes{
    background-image: url(../images/condicoes.svg);
}

._field__arrow{
    background-image: url(../images/condicoes.svg);
    background-position: right;

._font_inter{
    font-family: 'Inter', sans-serif;

}