.material-symbols-outlined {
    color: #FFF;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

body{
    color: #ffffff66;
    font-family: 'Roboto', sans-serif;
    background: #1a1a1a;
}

.__background-secondary-color{
    background: #333333;
}

.__background-tertiary-color{
    background: #33333366;
}


#menu:checked ~ #footer_menu{
    display: flex;
}

.mockup{
    background-image: url(../images/iphone.png);
    background-size:cover;
}

main{
    font-family: 'Ubuntu', sans-serif;
    color: #A6A6A6;
    font-size: 0.9rem;
}

._active__link{
    color: #036BB9;
}

._field__email{
    background-image: url(../images/email.svg);
    background-repeat: no-repeat;
    background-position: botton left;
    padding-bottom: 5px;
    background-size: 8%;
}

._field__senha{
    background-image: url(../images/senha.svg);
    background-repeat: no-repeat;
    background-position: botton left;
    padding-bottom: 5px;
    background-size: 8%;
}